{% if app.request.get('sortBy') == null or app.request.get('sortType') == null or key != app.request.get('sortBy') or type != app.request.get('sortType') %}
<a href="
    {{ path('admin_users', {
        query : app.request.get('query'),
        sortBy : key,
        sortType : type,
    }) }}
">
{% else %}
<a href="
    {{ path('admin_users', {
        query: app.request.get('query'),
    }) }}
"class="text-muted">
{% endif %}
    <ion-icon name="{{ type == 'ASC' ? 'arrow-round-up' : 'arrow-round-down' }}"></ion-icon>
</a>