<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		<link href="https://unpkg.com/ionicons@4.5.9-1/dist/css/ionicons.min.css" rel="stylesheet">
	{% endblock %}
</head>
<body>
	<div class="container">
	{{ include('admin/menu.html.twig') }}
	{% block body %}{% endblock %}
	</div>

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</body>
</html>
