<h3>Email confirmation</h3>
<p>Hello, {{ user.fullName }}!</p>
<p>To complete registration, click on the link: 
    <a href="{{ absolute_url(path('confirmation', {token: user.token})) }}">{{ absolute_url(path('confirmation', {token: user.token})) }}</a>.
</p>
