<h3>Подтверждение почты</h3>
<p>Здравствуйте, {{ user.fullName }}!</p>
<p>Для продолжения регистрации, перейдите по ссылке: 
    <a href="{{ absolute_url(path('confirmation', {token: user.token})) }}">{{ absolute_url(path('confirmation', {token: user.token})) }}</a>.
</p>
