<h3>Password recovery</h3>
<p>Hello, {{ user.fullName }}!</p>
<p>To reset your account password, click on the link: 
    <a href="{{ absolute_url(path('security_password-reset', {token: user.token})) }}">{{ absolute_url(path('security_password-reset', {token: user.token})) }}</a>.
</p>
